/*barra de navegacion*/

.navbar {
  padding: 2rem;
  background-color: #b59e85;
  border: none;
}

.navbar-collapse {
  align-items: center;
}

.navbar li {
  margin-inline: 30px;
}

.navbar-collapse img {
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-toggler {
  border: none;
}

.md-input {
  width: 500px;
  height: 30px;
}

/*buscador*/
.box-search {
  height: 4vh;
  display: flex;
  margin: 6vh;
  cursor: pointer;
  padding: 10px 20px;
  background: #bb8e66;
  border-radius: 15px;
  align-items: center;
  box-shadow: 0 10px 25px rgb(0, 0, 0, 0.1);
}

.box-search input {
  border: none;
  background: transparent;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.Texto {
  margin-top: 20vh;
  text-align: center;
  max-width: 100%;
  margin-right: auto;
}

.Bozz{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Bozz img{
  margin-top: 2vh;
  width: 55vh;
}

.SUMAQ {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-110%);
}
.SUMAQ img{
height: 35vh;
width: 35vh;
}

@media screen and (max-width: 770px) {
  .md-input {
    width: 250px;
  }
  .Texto{
    margin-top: 5vh;
    text-align: center;
  max-width: 100%;
  }
  .Bozz{
    left:3vh;
  }
  .Bozz img{
    margin-top: 10vh;
    width: 40vh;
  }
  .SUMAQ img{
    height: 22vh;
    width: 22vh;
  }
}